<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>

<body>
    <header>
        <nav class="main-menu">
            <a href="/">Página Inicial</a>
            <a href="/menu-page">Cardápio</a>
            <a href="/add-product-page">Adicionar/editar produto</a>

            <nav class="login">
                <a href="#">Login</a>
            </nav>
        </nav>
    </header>

    {{{body}}}
</body>

</html>