<h1>Supreme</h1>

<form action="">
    <input type="checkbox" name="pizzaPort" id="pizzaPort">
    <input type="checkbox" name="pizzaMarg" id="pizzaMarg">
    <input type="checkbox" name="pizzaFrangCatu" id="pizzaFrangCatu">
</form>